/* MOBILE SCREEN (max 600px) */
@media screen and (max-width: 600px) {

    .imagecontainer {
        height: 520px; /* smaller height for mobile */
    }

    .bgvideo {
        width: 100%;
        height: 100%;
        object-fit: cover; /* makes video fill the area properly */
    }

    .content {
        top: 50%;
        padding: 0 15px;
        max-width: 90%;
    }

    .content h2 {
        font-size: 1.5rem; /* smaller heading */
        letter-spacing: 1px;
    }

    .content p {
        font-size: 0.85rem; /* smaller paragraph */
        line-height: 1.3;
    }

    .pn {
        top: 75%;
        padding: 12px 18px;
        font-size: 16px;
    }
}


/* TABLET SCREEN (600px - 900px) */
@media screen and (min-width: 600px) and (max-width: 900px) {

    .imagecontainer {
        height: 700px;
    }

    .content {
        top: 52%;
        max-width: 80%;
        padding: 0 20px;
    }

    .content  {
        padding-bottom: 400px;
    }

    

   .pn {
        top:10%;
        padding: 12px 18px;
        font-size: 16px;
        position: relative;
    }

    .bgvideo {
        width: 100%;
        height: 100%;
        object-fit: cover; /* makes video fill the area properly */
    }
}



@media screen and (max-width: 980px) and (min-width: 900px){
    .pn {
        top: 75%;
        padding: 12px 18px;
        font-size: 16px;
    }

    .bgvideo {
        width: 100%;
        height: 100%;
        object-fit: cover; /* makes video fill the area properly */
    }

}

@media screen and (max-width: 899px) and (min-width: 800px){
    .pn {
        top: 80%;
        padding: 12px 18px;
        font-size: 16px;
    }

    .bgvideo {
        width: 100%;
        height: 100%;
        object-fit: cover; /* makes video fill the area properly */
    }
}


@media screen and (max-width: 799px) and (min-width: 700px){
    .pn {
        top: 80%;
        padding: 12px 18px;
        font-size: 16px;
    }

    .bgvideo {
        width: 100%;
        height: 100%;
        object-fit: cover; /* makes video fill the area properly */
    }
}




@media screen and (max-width:560px) {
    .pn {
        top: 80%;
        padding: 12px 18px;
        font-size: 16px;
    }
}


@media screen and (max-width:450px) and (min-width:400px){
    .pn {
        top: 90%;
        padding: 12px 18px;
        font-size: 16px;
    }
}

@media screen and (max-width:399px) and (min-width:300px){
    
        nav {
        display: none !important;
    }
    
    .pn {
        top: 67%;
        padding: 12px 18px;
        font-size: 16px;
    }
    .content{
        padding-bottom: 160px;
    }
}

